{% load static %}
<!DOCTYPE html>
<html lang="en">


    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <title>{% block title %} Social Distance Monitor {% endblock %}</title>

        {% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
        {% endblock %}

    </head>
    <body>
        {% block content %}

         <div id="bod" class="d-flex align-items-center min-vh-100">
            <div class="container bg-white border pl-3 pr-3 pt-4"  align="center" style="border-radius:7px; width:300px;">

            <form action="{%url 'login' %}" method="post">
                {% csrf_token %}
                <br>
                <!-- Enter Your Email: -->
                
                <label for="Email">Email address</label>
                <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                
                <!-- Enter Your Password: -->
                <br>
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Password" name="pass">
                <br>
                <button class="btn-primary"  type="submit">Login</button>
                <br> <br>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            <p style="color: red">{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </form>

            </div>
            </div>

        {% endblock %}
    </body>
</html>
